* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0px 24px;
    font-family: "Rubik";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #343e4f;
    background-image: url("./assets/images/pattern-background-desktop-dark.svg");
    overflow-x: hidden;
}

body.light-theme {
    background-image: url("./assets/images/pattern-background-desktop-light.svg");
    background-color: #F4F6FA;
}

.dark-theme {
    color: white;
}

body.light-theme {
    color: #313E51;
}

h1 {
    font-size: 64px;
    font-weight: 300;
    margin-bottom: 25px;
}

h3 {
    font-size: 2.25rem;
    font-weight: 500;
}

h4 {
    font-size: 24px;
    font-weight: 700;
}

header {
    width: 100%;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 50px;
}

.theme-toggle-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.switch-container {
    width: 48px;
    background-color: #A729F5;
    padding: 4px;
    border-radius: 25px;
    cursor: pointer;
}

.switch-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    float: right;
    transition: 0.4s;
}


#quiz-heading-container {
    opacity: 0;
}

.welcome-message {
    width: 50%;
    max-width: 564px;
}

.welcome-message p {
    color: #ABC1E1
}

main {
    width: 100%;
    max-width: 1160px;
}

/****** Screen Layout ******/

.main-layout {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1160px;
}

.img-container {  
    padding: 8px;
    border-radius: 8px;
    margin-right: 20px;
}

.html-img-container {
    background-color: #FFF1E9;
}

.css-img-container {
    background-color: #E0FDEF;
}

.js-img-container {
    background-color: #EBF0FF;
}

.accessibility-img-container {
    background-color: #F6E7FF;
}

.quiz-option-container h4 {
    color: white;
    font-family: "Rubik";
    font-size: 28px;
    font-weight: 500;
}

.quiz-option-container.light-theme h4 {
    color: #313E51
}

.quiz-option:hover {
    background-color: #58657b;
    border: 2px solid #58657b;
}



/********* Quiz option and answer options container **********/
.quiz-menu-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    align-items: flex-end;
}

.question-container {
    width: 50%;
    padding: 0px 75px 85px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 564px;
}

.question-number-container {
    font-weight: 300;
    color: #ABC1E1;
    margin-bottom: 27px;
}

.progress-bar-container {
    width: 100%;
    height: 16px;
    border-radius: 25px;
    background-color: #3B4D66;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 4px
}

.progress-bar-container.light-theme {
    background-color: white;
}

.progress-bar {
    width: 10%;
    background-color: #A729F5;
    height: 100%;
    border-radius: 25px;
}

.quiz-option-container {
    background-color: #3f4c65;
    border: 2px solid #3f4c65;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 24px;
    padding: 10px 20px;
    max-width: 564px;
    min-width: 400px;
    cursor: pointer;
    justify-content: space-between;
    min-height: 92px;
}

.quiz-option-container.light-theme {
    background-color: white;
    border: 2px solid white;
   
}


.quiz-option {
    justify-content: space-between;
}  

.letter {
    color: #626C7F;
    background-color: #F4F6FA;
    padding: 12px 18px;
    border-radius: 8px;
    margin-right: 20px;
    font-size: 24px;
    font-weight: 700;
}


label img {
    opacity: 0;
}

.submit-btn {
    background-color: #A729F5;
    border: none;
    text-align: center;
    color: white;
    width: 100%;
    border-radius: 24px;
    padding: 20px;
    max-width: 564px;
    cursor: pointer;
    height: 92px;
    min-width: 400px;
}




.submit-btn:hover {
    background-color: #c372f5;
}

.score-message {
    width: 50%;
}

.score-container {
    width: 50%;
}

.score-card {
    background-color: #3B4D66;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    gap: 40px;
    border-radius: 25px;
    margin-bottom: 24px;
}

.score-tally {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#final-score {
    font-weight: 700;
    font-size: 144px;
    text-align: center;
}

/******* Interactive states of input *********/
input[type=radio]:hover + label > div > h5#letter {
    color: #A729F5;
    background-color: #F6E7FF;
}

input[type=radio]:checked + label {
    border: 2px solid #A729F5;
}


input[type=radio]:focus + label {
    border: 2px solid #A729F5;
}
input[type=radio]:checked + label > div > h4.letter{
    background-color: #A729F5;
    color: white;
}

input[type=radio] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.incorrect-answer {

}

#empty-answer-msg {
    opacity: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-flex {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

body.light-theme {
    color: #313E51;
}


@media only screen and (max-width: 1000px) {
    .welcome-message {
        padding: 0px 10px 10px 0px;
    }

}
@media only screen and (max-width: 800px) {
    body {
        background-image: url("./assets/images/pattern-background-tablet-dark.svg");
    }

    body.light-theme {
        background-image: url("./assets/images/pattern-background-tablet-light.svg");
    }


    .submit-btn .quiz-option-container {
        height: 80px;
        border-radius: 24px;
    }

    .main-layout {
        flex-direction: column;
        align-items: center;
    }

    .welcome-message {
        padding: 0px;
        margin-bottom: 40px;
        width: 100%;
    }

    .welcome-message p {
        font-size: 14px;
    }

    .quiz-menu-container {
        width: 100%;
        align-items: center;
    }

    .question-container {
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
    }

    .submit-btn .quiz-option-container {
        height: 64px;
        border-radius: 12px;
    }

    .progress-bar-container {
        margin-top: 24px;
    }

    .score-message {
        width: 100%;
    }
    
    .score-container {
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    body {
        background-image: url("./assets/images/pattern-background-mobile-dark.svg");
    }

    body.light-theme {
        background-image: url("./assets/images/pattern-background-mobile-light.svg");
    }
    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    .quiz-option-container h4 {
        font-size: 18px;
    }

    .letter h5 {
        font-size: 18px;
    }
    
    .main-layout {
        flex-direction: column;
    }

    .welcome-message {
        padding: 0px;
        margin-bottom: 40px;
    }

    .welcome-message p {
        font-size: 14px;
    }

    .quiz-menu-container {
        width: 100%
    }

    .question-container {
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
    }

    .submit-btn .quiz-option-container {
        height: 64px;
        border-radius: 12px;
    }

    .progress-bar-container {
        margin-top: 24px;
    }

    .score-message {
        width: 100%;
    }
    
    .score-container {
        width: 100%;
    }
}