* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}