* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #304859;
    --secondary-color: #BCCED9;
    --hover-color: #6395B8;
    --accent-color: #FDA214;
}

body {
    width: 100vw;
    height: 100svh;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-family: "Atkinson Hyperlegible";
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {}

h2 {}

h3 {
    font-size: 0.95rem;
    color: #7191A5
}

p {
    font-size: 1.125rem;
}

/**************   Home Menu   **************/
.home-menu-container {
    height: 100vh;
    width: 100vw;
    background-color: #152938;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;
    gap: 50px
}

.home-menu-container h2 {
    color: white;
}

.home-menu {
    background-color: #FCFCFC;
    border-radius: 10px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: auto;
    width: 100%;
    max-width: 550px;
}

.home-menu-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.button-container {
    display: flex;
    gap: 10px;
    width: 100%;
}

.quad-btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    flex: 1;
    padding: 15px 0px;
    border-radius: 70px;
    border: none;
    color: white;
    background-color: var(--secondary-color);
    font-family: "Atkinson Hyperlegible";
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s;
}



.btn.active {
    background-color: var(--primary-color);
}

.btn:hover {
    background-color: var(--hover-color);
}

.btn:focus {
    background-color: var(--primary-color);
}

.orange-btn {
    background-color: var(--accent-color);
}

.orange-btn:hover {
    background-color: #f9c36b;
}

/************* In Game Menu *******************/
.in-game-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.512);
    position: absolute;
    width: 100vw;
    padding: 25px;
    z-index: 10;
}

.in-game-menu {
    display: flex;
    flex-direction: column;
    background-color: #FCFCFC;
    padding: 24px;
    border-radius: 10px;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    
}

/**************   Gameboard Container   **************/
.gameboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1100px;
    padding: 24px;
}

.gameboard-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#in-game-menu-btn {
    max-width: 78px;
}

.gameboard {
    width: 100%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    max-width: 525px;
}

.game-piece {
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: 0.3s;
    background-size: cover;
    background-repeat: no-repeat;
}

.game-piece-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 50%;
}

.game-piece-front,
.game-piece-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50%;
}

.game-piece-front {
    background-color: var(--primary-color);
}

.game-piece-back {
    background-color: var(--secondary-color);
    background-image: url("./assets/five.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .game-piece:hover .game-piece-inner {
    transform: rotateY(180deg);
  } */

  .chosen-piece {
    transform: rotateY(180deg);
  }


.chosen-piece .game-piece-back {
    background-color: var(--accent-color);
}

.discovered-piece .game-piece-back {
    background-color: var(--secondary-color);
}


.active-piece:hover .game-piece-front {
    background-color: var(--hover-color);
}

.zero {
    background-image: url("./assets/crocodile.png");

}

.one {
    
    background-image: url("./assets/elephant.png");

}

.two {
    background-image: url("./assets/cow.png");

}

.three {
    background-image: url("./assets/dog.png");

}

.four {
    background-image: url("./assets/dolphin.png");

}

.five {
    background-image: url("./assets/fish.png");

}

.six {
    background-image: url("./assets/lion.png");

}

.seven {
    background-image: url("./assets/sheep.png");

}

.eight {
    background-image: url("./assets/snake.png");

}

.nine {
    background-image: url("./assets/penguin.png");
}

.ten {
    background-image: url("./assets/koala.png");

}

.eleven {
    background-image: url("./assets/kangaroo.png");

}

.twelve {
    background-image: url("./assets/zebra.png");

}

.thirteen {
    background-image: url("./assets/monkey.png");

}

.fourteen {
    background-image: url("./assets/rat.png");

}

.fifteen {
    background-image: url("./assets/bird.png")

}

.sixteen {
    background-image: url("./assets/cat.png")

}

.seventeen {
    background-image: url("./assets/frog.png");

}








/******************** Points Container **************************/
.stat-tracker-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats {
    display: flex;
    width: 100%;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.stats-cell {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
}

.turn-indicator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 250px;
}

.turn-triangle {
    height: 0;
    width: 0;
    border-bottom: 15px solid var(--accent-color);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    opacity: 0;

}

/* .turn-indicator-container::before {
    height: 0;
    width: 0;
    border-bottom: 10px solid var(--accent-color);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
} */

.player-points-container.active {
    background-color: var(--accent-color);
    color: white
}

.player-points-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.time-tracker-container {
    max-width: 540px;
}

.current-turn-statement {
    opacity: 0
}

.current-turn {
    font-size: 0.60rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: none;
}

/************** Win Screen ***************/
.win-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px
}

.player-win-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 18px;
}

.win-container p {
    color: #7191A5
}

.win-menu {
    background-color: #FCFCFC;
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px
}

.player-stats-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 15px
}

.player-stats-container.winner {
    background-color: #152938;
    color: white;
}

.player-stats-container.winner p {
    color: white;
}

.player-results-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
  }

.display-none {
    display: none;
}

@media only screen and (min-width: 600px) {
    .current-turn {
        display: block;
    }

    .player-points-container {
        flex-direction: row;
    }
}