* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    width: 100svw;
    height: 100svh;
    justify-content: center;
    align-items: center;
    
}

section {
    display: flex;
    gap: 5px;
}



p {
    border: 1px solid grey;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-cluster {
    display: flex;
}

p:hover {
    cursor: pointer;
}