* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: white;
    font-family: 'Lexend Deca';
    font-weight: 400;
    background-color: hsl(0, 0%, 95%);
}

h2 {
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1px;

}

p {
    
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    line-height: 24px;
}

main {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 900px
}

.card-container {
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 70px;
    max-width: 800px;
}

.card-container button {
    width: 125px;
    border: none;
    padding: 15px;
    border-radius: 50px;
    font-weight: bold;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s;
    background-color: white;
}

.card-container button:hover {
    background: none;
    color: white;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card-content img {
    width: 50px
}

.sedan-card {
    background-color: hsl(31, 77%, 52%);
}

.sedan-card button {
    color: hsl(31, 77%, 52%)
}

.suvs-card {
    background-color: hsl(184, 100%, 22%);
}

.suvs-card button{
    color: hsl(184, 100%, 22%);
}

.luxury-card {
    background-color: hsl(179, 100%, 13%);
}

.luxury-card button {
    color: hsl(179, 100%, 13%);
}

@media screen and (min-width: 600px) {
    main {
        flex-direction: row;
    }
  }