* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "outfit";
    
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1d2a32;
    padding: 15px;
    font-weight: 700;

    
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 2.5px;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 1.5px;

}

h3 {
    font-size: 1.25rem;
    letter-spacing: 1.25px;
    color: #1A2A33;
}

h4 {
    font-size: 1rem;
    letter-spacing: 1px;
}

p {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #1A2A33;
}

button:hover {
    cursor: pointer;
}



.main-menu-container {
display: flex;
flex-direction: column;
align-items: center;
gap: 15px;
width: 100%;
max-width: 400px;
}

.main-menu-inner-container {
    background-color: #24353f;
    width: 100%;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border-bottom: 8px solid #18252c;
}

.player-choice-container {
    width: 100%;
    padding: 8px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    background-color: #1d2a32;
    border-radius: 5px;
    margin: 20px 0px
}

.player-choice-container  button {
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    height: 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#player-choose-cross {
    background-image: url("./assets/icon-x.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f2b137;
    background-size: 25%;
}

#player-choose-circle {
    background-color: transparent;
    background-image: url("./assets/icon-o.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    
}



#game-start-computer-btn {
    background-color: #f2b137;
    
    border-bottom: 3px solid #d79c30;
}

#game-start-computer-btn:hover {
    background-color: #ffc860;
}

#game-start-player-btn {
    background-color: #31C3BD;
    border-bottom: 3px solid #50a09c;
}

#game-start-player-btn:hover {
    background-color: #65E9E4;
}

.game-start-btn {
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.winning-screen-container {
    background: rgba(0, 0, 0, 0.442);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.win-statement-heading {
    color: #A8BFC9; 
}

#winning-color {
    color: #31C3BD
}

.winning-statement-container {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-transform: uppercase;
    background: #325367;
    flex-direction: column;
}

.winning-statement {
    display: flex;
    gap: 15px;
}

.winning-statement-btn-container {

}

.winning-statement-btn-container button{
    padding: 12px;
    border: none;
    border-radius: 10px;
    
}

#next-round-btn {
    background-color: #F2B137;
    color: #1A2A33;
    margin-left: 16px;
    border-bottom: 4px solid #ab7b24;
}

#quit-btn {
    background-color: #A8BFC9;
    color: #1A2A33;
    border-bottom: 4px solid #8d9ea5;
}

main {
    width: 100%;
    max-width: 400px;
}

heading {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 15px;
    margin-bottom: 15px;
}

.turn-indicator-container {
    background-color: #24353f;
    border-bottom: 4px solid #172229;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    gap: 8px;
    color: white;
}

.turn-indicator-container h3 {
    color: silver
}

.turn-indicator-container img {
    height: 15px;
    width: 15px;
}

.restart-btn-container {
    display: flex;
    justify-content: flex-end;
}

#restart-btn {
    background-color: #acbec8;
    
    background-image: url("./assets/icon-restart.svg");
    height: 40px;
    width: 40px;
    background-image: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border-bottom: 4px solid #8898a0;
}

#restart-btn:hover {
    background-color: #e4f6ff;
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    width: 100%;
    height: 400px;
    gap: 15px;
}

@media only screen and (max-width: 350px) {
    .gameboard {
        height: 350px
    }
}

.score-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 15px 0px;
}

.score-container-element {
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.win-container {
    background: #31C3BD;
}

.draw-container {
    background: #acbec8;
}

.lose-container {
    background: #F2B137;
}

.btn {
    /* width: 100%;
    height: 100%; */
    border: none;
    background-color: #24353f;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 15px;
    border-bottom: 8px solid #172229;
}

.btn:hover {
    background-color: #325367;
}

.cross {
    background-image: url("./assets/icon-x.svg");
    /* animation: draw 2s linear; */
}



.circle {
    background-image: url("./assets/icon-o.svg");
}

.hidden {
    display: none;
}