* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Mouse Memoirs';
    src: url('./assets/fonts/MouseMemoirs-Regular.ttf') format('woff2'),
}

/***  Contents ***/



/*** Universal Stylings ****/
:root {
    --primary-color: #2463FF;
    --secondary-color: #FFF;
    --background-color: #261676;
    --body-color: #887DC0;
    --opaque-top: #0043ece2;
    --opaque-background: #26167677;
    --font-XL: 3.5rem;
    --font-large: 2.5rem;
    --font-medium: 1.5rem;
    --font-small: 2rem;
    --font-body: 1rem;
    --menu-gap: 1rem
}

body {
    background-image: url("./assets/images/background-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100dvh;
    width: 100%;
    padding: 25px;
    font-family: 'Mouse Memoirs';
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    max-width: 1250px;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1250px;
}



.game-menu-heading {
    /* text-shadow: -3px 3px 0 black, 3px 3px 0 black, 3px -3px 0 black, -3px -3px 0 black; */
    background-color: white;
    background-image: linear-gradient(#67B6FF, white);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -moz-background-clip: text;


}

h1 {
    font-size: var(--font-XL);

}

h2 {
    font-size: var(--font-large);

}

h3 {
    font-size: var(--font-medium);
    text-transform: uppercase;
}

h4 {
    font-size: var(--font-small);
}

p {
    font-size: var(--font-body);
    color: #887DC0;
}

.btn-primary {
    border: none;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    border-top: 1px solid var(--background-color);
    border-right: 2px solid var(--background-color);
    border-left: 2px solid var(--background-color);
    border-bottom: 5px solid var(--background-color);
    box-shadow: inset 0 2px 0px 2px rgba(255, 255, 255, 0.253);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 12px 64px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #678ff6;
    box-shadow: inset 0 2px 0px 2px #356df8;
}

.btn-secondary {
    background: linear-gradient(#FE71FE, #7199FF);
}

.btn-secondary:hover {
    background: linear-gradient(#fc90fc, #7199FF);
    box-shadow: inset 0 2px 0px 2px #FE71FE;
}

.circle-btn {
    border: none;
    background: linear-gradient(#fc90fc, #7199FF);
    box-shadow: inset 0 -4px 0px 2px #9e2df558;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;

}

.circle-btn img {
    width: 100%;
    height: 100%;
}



.menu-bg {
    background: linear-gradient(var(--opaque-top), var(--opaque-background));
    border-top: 1px solid var(--background-color);
    border-right: 2px solid var(--background-color);
    border-left: 2px solid var(--background-color);
    border-bottom: 10px solid var(--background-color);
    box-shadow: inset 0 8px 0px 4px var(--primary-color);
    border-radius: 48px;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 592px;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



button {
    font-family: 'Mouse Memoirs';
    text-transform: uppercase;
    cursor: pointer;
}

/**********  Home Screen ********/

.home-screen-menu {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    transform: translateY(-50px);
    padding: 0px 25px
}

.home-logo {
    width: 100%;
    transform: translateY(-15px);
}

.big-circle {
    width: 160px;
    height: 160px;
    background: linear-gradient(#fc90fc, #7199FF);
    box-shadow: inset 0 -4px 0px 2px #9e2df558;
    border-bottom: 8px solid var(--background-color);
    border-right: 2px solid var(--background-color);
    border-left: 2px solid var(--background-color);
    padding: 30px
}

/******** How To Play Screen ********/
.menu-header-title {
    background-color: white;
    background-image: linear-gradient(#67B6FF, white);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -moz-background-clip: text;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    gap: var(--menu-gap);
}

.instruction {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    flex: 1

}

.instruction h2 {
    color: var(--primary-color)
}

.instruction h3 {
    color: var(--background-color);
}

/***** Category Screen ********/

.category-container {
    display: flex;
    gap: var(--menu-gap);
    width: 100%;
    flex-wrap: wrap;
}

.category-btn {
    padding: 24px;
    min-width: 300px;
    flex: 1;
    border-radius: 20px;
}


/***** Play Screen *******/
.progress-bar-container {
    width: 60px;
    height: 16px;
    background-color: white;
    border-radius: 25px;
    padding: 4px;
}

.progress-bar {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    border-radius: 25px;
}

.game-screen-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.category-header {
    color: white;
}

.game-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.hidden-word-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}



.hidden-letter-tile {
    background-color: transparent;
    width: 40px;
    height: 60px;
    perspective: 1000px;
    transition: 1s;
}

.animated-tile {
    animation-name: moveUpAndDown;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }

@keyframes moveUpAndDown {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-75px); }
  }


.hidden-letter-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

/* .hidden-letter-tile:hover .hidden-letter-inner {
    transform: rotateY(180deg);
  } */



.reveal-letter {
    transform: rotateY(180deg);
}

.hidden-letter-front,
.hidden-letter-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hidden-letter-front {
    border: none;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    border-top: 1px solid var(--background-color);
    border-right: 3px solid var(--background-color);
    border-left: 3px solid var(--background-color);
    border-bottom: 5px solid var(--background-color);
    box-shadow: inset 0 3px 0px 2px rgba(255, 255, 255, 0.253);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.25;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-letter-back {
    border: none;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    border-top: 1px solid var(--background-color);
    border-right: 3px solid var(--background-color);
    border-left: 3px solid var(--background-color);
    border-bottom: 5px solid var(--background-color);
    box-shadow: inset 0 3px 0px 2px rgba(255, 255, 255, 0.253);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);

}

.hidden-letter-back h2 {
    font-size: var(--font-large);
}

.hidden-letter {
    font-size: var(--font-large);
    opacity: 1;
}

.keyboard-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.keyboard-row {
    width: 100%;
    display: flex;
    gap: 8px;
    height: 56px;
}

.key-btn {
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: none;
    transition: 0.3s;
    color: var(--background-color);
    background-color: white;

}

.inactive-key {
    opacity: 0.2;
}

.key-btn:hover,
.key-btn:focus {
    background-color: var(--primary-color);
    color: white;
}

.inactive-key:hover,
.inactive-key:focus {
    color: var(--background-color);
    background-color: white;
}

/***** In-Game Menu *******/
.overlay {
    width: 100vw;
    height: 100dvh;
    position: absolute;
    background-color: rgba(3, 4, 76, 0.582);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
}

.pause-menu-heading {
    transform: translateY(-20px);
}
.game-menu-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0px 0px 25px 0px;
    width: 100%;
}

.flex-row {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.display-none {
    display: none;
}

.hidden {
    visibility: hidden;
}

/****** Media Queries ******/
@media screen and (min-width: 700px) {
    :root {
        /* --font-XL: 8.5rem;
        --font-large: 5.5rem;
        --font-medium: 3rem;
        --font-small: 2rem;
        --font-body: 1.75rem;
        --menu-gap: 2rem */
    }

    body {
        background-image: url("./assets/images/background-tablet.svg");
    }


    /***** Universsal Stylings ******/
    /************ Home Screen ***********/
    /******** How To Play Screen ********/


    /***** Category Screen ********/
    .category-btn {
        padding: 32px;
    }

    /***** Gameplay Screen *******/
    /* .hidden-letter-tile {
        width: 112px;
        height: 128px
    } */


    /***** In-Game Menu *******/
}

@media screen and (min-width: 1000px) {
    :root {
        --font-XL: 8.5rem;
        --font-large: 5.5rem;
        --font-medium: 3rem;
        --font-small: 2rem;
        --font-body: 1.75rem;
        --menu-gap: 2rem
    }

    body {
        background-image: url("./assets/images/background-desktop.svg");
    }


    /***** Universsal Stylings ******/
    .circle-btn {
        width: 75px;
        height: 75px;
        padding: 25px;
    }

    .big-circle {
        width: 200px;
        height: 200px;
    }
    /************ Home Screen ***********/
    /******** How To Play Screen ********/
    .instructions-container {
        flex-direction: row;
    }

    /***** Category Screen ********/
    .category-btn {
        padding: 64px;
    }

    /***** Gameplay Screen *******/
    .hidden-letter-tile {
        width: 112px;
        height: 128px
    }

    .progress-bar-container {
        width: 240px;
        height: 32px;
        padding: 9px;
    }

    /***** In-Game Menu *******/

    .flex-row {
        gap: 3rem;
    }
}