* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #8B6990;
    --secondary-color: hsl(292, 42%, 14%);
    --accent-color: #AD28EB;
    --background-color: hsl(275, 100%, 97%);
}


h1 {
    font-size: 56px;
    color: var(--secondary-color);
}

h2 {
    font-size: 18px;
    color: var(--secondary-color);
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--main-color);
    padding-top: 24px;
}

body {
    height: 100%;
    font-family: 'Work Sans';
    background-color: hsl(275, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url("./assets/background-pattern-mobile.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 140px 25px 50px 25px;
    overflow: scroll;
}

.heading-container {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

main {
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    max-width: 600px;
    box-shadow: 0px 10px 25px rgba(77, 7, 110, 0.19);
}



summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary:hover h2 {
    color: var(--accent-color);
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none; 
}

summary::after {
    content: 'aaaaaa';
    color: #8b699000;
    width: 30px;
    height: 30px;
    background-image: url("./assets/icon-plus.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px

}

summary::before {
    display: none;
}



summary:hover {
    cursor: pointer;
    color: var(--accent-color);
}

details[open] > summary::after {
    background-image: url("./assets/icon-minus.svg");
}

details {
    padding: 24px 0px
}

hr {
    border: 1px solid var(--background-color);
}

@media only screen and (min-width: 750px) {
    body {
        background-image: url("./assets/background-pattern-desktop.svg")
    }
}




