* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100svh;
    background-color: hsl(275, 100%, 97%);
    background-image: url("./assets/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
    width: 500px
}