* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100svh;
    background-color: hsl(275, 100%, 97%);
    background-image: url("./assets/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
    width: 500px
}

details > summary::after {
    content: ''; /* Empty content */
    display: inline-block;
    width: 20px; /* Adjust the width of the image */
    height: 20px; /* Adjust the height of the image */
    background-image: url('./assets/icon-plus.svg'); /* Replace with the path to your image */
    background-size: cover; /* or contain, depending on your preference */
    margin-right: 10px; /* Adjust spacing as needed */
}

summary {
    display: flex;
    justify-content: space-between;
}

details[open] > summary::after {
    content: ''; /* Empty content */
    display: inline-block;
    width: 20px; /* Adjust the width of the image */
    height: 20px; /* Adjust the height of the image */
    background-image: url('./assets/icon-minus.svg'); /* Replace with the path to your image */
    background-size: cover; /* or contain, depending on your preference */
    margin-right: 10px; /* Adjust spacing as needed */
}

